$ds-tooltip-size: 8px !default;
$ds-tooltip-bg: rgba(0, 0, 0, 0.75) !default;
$ds-tooltip-color: white !default;
$ds-tooltip-attr: aria-label !default;

.ds-tooltip-basic {
	display: inline-block;
	position: relative;
	&:before,
	&:after {
		position: absolute;
		visibility: hidden;
		transition: transform 0.1s, opacity 0.1s;
		opacity: 0;
		z-index: 99999;
	}
	&:before {
		display: inline-block;
		background-color: $ds-tooltip-bg;
		content: attr($ds-tooltip-attr);
		border-radius: 2px;
		color: $ds-tooltip-color;
		font-size: 12px;
		padding: 6px 8px;
		width: max-content;
		min-width: 32px;
		max-width: 200px;
		text-align: center;
	}
	&:after {
		content: '';
		background-color: transparent;
		border: $ds-tooltip-size/2 solid transparent;
	}

	&:hover {
		&:before {
			visibility: visible;
			opacity: 1;
		}
		&:after {
			visibility: visible;
			opacity: 1;
		}
	}
}

.ds-tooltip,
.ds-tooltip--top {
	@extend .ds-tooltip-basic;

	&:before {
		bottom: 100%;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
	}
	&:after {
		border-top-color: $ds-tooltip-bg;
		bottom: 100%;
		left: 50%;
		transform: translate3d(-50%, $ds-tooltip-size, 0);
	}
	&:hover {
		&:before {
			transform: translate3d(-50%, -$ds-tooltip-size, 0);
		}
		&:after {
			transform: translate3d(-50%, 0, 0);
		}
	}
}

.ds-tooltip--left {
	@extend .ds-tooltip-basic;

	&:before,
	&:after {
		right: 100%;
		top: 50%;
	}
	&:before {
		transform: translate3d(0, -50%, 0);
	}
	&:after {
		border-left-color: $ds-tooltip-bg;
		transform: translate3d($ds-tooltip-size, 50%, 0);
	}
	&:hover {
		&:before {
			transform: translate3d(-$ds-tooltip-size, -50%, 0);
		}
		&:after {
			transform: translate3d(0, -50%, 0);
		}
	}
}

.ds-tooltip--bottom {
	@extend .ds-tooltip-basic;

	&:before,
	&:after {
		top: 100%;
		left: 50%;
	}
	&:before {
		transform: translate3d(-50%, 0, 0);
	}
	&:after {
		border-bottom-color: $ds-tooltip-bg;
		transform: translate3d(-50%, -$ds-tooltip-size, 0);
	}
	&:hover {
		&:before {
			transform: translate3d(-50%, $ds-tooltip-size, 0);
		}
		&:after {
			transform: translate3d(-50%, 0, 0);
		}
	}
}
.ds-tooltip--right {
	@extend .ds-tooltip-basic;

	&:before,
	&:after {
		left: 100%;
		top: 50%;
	}
	&:before {
		transform: translate3d(0, -50%, 0);
	}
	&:after {
		border-right-color: $ds-tooltip-bg;
		transform: translate3d(-$ds-tooltip-size, -50%, 0);
	}
	&:hover {
		&:before {
			transform: translate3d($ds-tooltip-size, -50%, 0);
		}
		&:after {
			transform: translate3d(0, -50%, 0);
		}
	}
}
